textarea {
    min-width: 500px;
    min-height: 50px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #444;
    padding: 5px;
}
body {
  color: #222;
  background-color: #eaeaea;
}

.at-form{
max-width: 500px;
}
.post{
  border: 2px solid;
}
