.selected{
    background-color: yellow;
}
.at-form{
max-width: 500px;
}
textarea {
    min-width: 500px;
    min-height: 50px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #444;
    padding: 5px;
}

.post{
  white-space: pre-line;
}
