<template name="comment">
  <div>
    {{#each comments}}
        <div class="post">
          {{comment}}
        <div>
          {{> replyComment }}
            {{#each replys}}
              <div class="post reply">
                {{reply}}
              </div>
              {{> replyComment }}
            {{/each}}
            </div>
        </div>
    {{/each}}
  </div>
  <h2>Comment</h2>
  <div>
    <form class="comment">
      <p>Yorum</p>
      <textarea class="textarea" name="comment" value= "Yorumunuz?"></textarea>
      <input type="submit" value="Tonikle">
    </form>
  </div>
</template>

<template name="replyComment">
  <div>
    <form class="reply">
      <p>Yorum'a yorum</p>
      <textarea class="textarea" name="reply" value= "Cevabınız?"></textarea>
      <input type="submit" value="Tonikle">
    </form>
  </div>
</template>
