<template name="comment">
  <div>
    {{#each comments}}
        <div class="containerComment">
          <ul class="nested">
            <li>
              <div class="comment">
                {{comment}}
                <p><a class="replyButton" href="#">Cevapla</a></p>
                {{> replyComment}}
              </div>
              <ul>
                {{#each replys}}
                  <div class="replyContainer">
                    {{reply}}
                  </div>
                {{/each}}
              </ul>
            </li>
          </ul>
        </div>
    {{/each}}
  </div>
  <h2>Comment</h2>
  <div>
    <form class="comment">
      <p>Yorum</p>
      <textarea class="textarea" name="comment" value= "Yorumunuz?"></textarea>
      <input type="submit" value="Tonikle">
    </form>
  </div>
</template>

<template name="replyComment">
  <div class="replyComment">
    <form class="reply">
      <p>Yorum'a yorum</p>
      <textarea class="textarea" name="reply" value= "Cevabınız?"></textarea>
      <input type="submit" value="Tonikle">
    </form>
  </div>
</template>
