<head>
    <title>Toniklerin Efendisi</title>
</head>
<body>
    {{> loginButtons }}
     {{> navigation}}
</body>
<template name="postList">
  <h2>Tonikler Diriliyor</h2>
  <div>
    <ul>
      {{#each posts}}
        <li>
          <p>{{Title}}</p>
        </li>
          <pre>{{Content}}</pre>
      {{/each}}
    </ul>
</div>
</template>

<template name="main">
    <h1>Tonikdibi</h1>
    {{> yield}}
    <hr />
    <p>Copyright &copy; Tonikdibi, 2015-2015.</p>
</template>

<template name="addPlayerForm">
    {{#if currentUser}}
        <form>
            <input type="text" name="postTitle">
            <input type="submit" value="Add Player">
        </form>
    {{/if}}
</template>

<template name="navigation">
<nav class="navbar navbar-white">
  <div class="container-fluid">
    <div class="navbar-header ">
      <a class="navbar-brand" href="{{pathFor route='home'}}">Tonikler Çarpışıyor !</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active "><a href="{{pathFor route='home'}}">Ana Sayfa</a></li>
        {{#unless currentUser}}
        <li><a href="/register">Kayıt</a></li>
        <li> <a href="/login">Giriş</a></li>
         {{/unless}}
        <li><a href="/admin">Admin</a></li>
        <li><a href="{{pathFor route='about'}}">Hakkında</a></li>
      </ul>
    </div>
  </div>
</nav>
</template>
