<head>
    <title>Toniklerin Efendisi</title>
</head>
<body>
    {{> loginButtons }}
    {{> navigation }}
</body>
<template name="postList">
  <h2>Tonikler Diriliyor</h2>
  <div>
    <ul>
      {{#each posts}}
        <h3><a href= posts/{{_id}} >{{Title}}</a></h3>
        <div class="post selectable">
          {{Content}}
        </div>
        <div>
          {{#if showSelected}}
            {{> comment }}
          {{/if}}
        </div>
      {{/each}}
    </ul>
</div>
</template>

<template name="main">
    <h1>Tonikdibi</h1>
    {{> yield}}
    <hr />
    <p>Copyright &copy; Tonikdibi, 2015-2015.</p>
</template>

<template name="navigation">
          <nav  class="navbar navbar-default">
            <a href="{{pathFor route='home'}}">Home</a>
            {{#unless currentUser}}
            <a href="/register">Register</a>
            <a href="/login">Login</a>
            {{/unless}}
            <a href="{{pathFor route='admin'}}">Admin</a>
          </nav>
</template>
